*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Inter,sans-serif;
}
.sidebar{
    width:380px;
}

.card{
    background:#0b1428;
    border:1px solid rgba(255,255,255,.05);
    border-radius:20px;
    padding:24px;
    margin-bottom:20px;
}

.card h2{
    color:#fff;
    font-size:24px;
    margin-bottom:20px;
}

.topic-item{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:14px 0;
    border-bottom:1px solid rgba(255,255,255,.05);
    cursor:pointer;
}

.topic-item:last-child{
    border:none;
}

.topic-left{
    display:flex;
    gap:14px;
    align-items:center;
}

.topic-left i{
    color:#8b5cf6;
    width:24px;
}

.topic-left span{
    color:#d9dbe2;
}

.topic-right{
    display:flex;
    gap:12px;
    color:#8b94aa;
}

.resource-item{
    display:flex;
    align-items:center;
    gap:14px;
    margin-bottom:18px;
}

.resource-icon{
    width:56px;
    height:56px;
    border-radius:12px;
    background:linear-gradient(135deg,#4f46e5,#8b5cf6);
    flex-shrink:0;
}

.resource-content h4{
    color:white;
    margin-bottom:5px;
}

.resource-content p{
    color:#8c96b2;
    font-size:14px;
    line-height:1.4;
}

.resource-item i{
    color:#8b5cf6;
    margin-left:auto;
}

.btn{
    width:100%;
    border:none;
    background:#5b21b6;
    color:white;
    padding:14px;
    border-radius:12px;
    margin-top:10px;
    cursor:pointer;
    transition:.3s;
}

.btn:hover{
    background:#7c3aed;
}

.webinar{
    display:flex;
    gap:15px;
    align-items:center;
    padding:16px 0;
    border-bottom:1px solid rgba(255,255,255,.05);
}

.date{
    width:70px;
    height:70px;
    border-radius:14px;
    background:#101d37;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.date span{
    color:#8b94aa;
    font-size:12px;
}

.date strong{
    color:white;
    font-size:26px;
}

.webinar-content{
    flex:1;
}

.webinar-content h4{
    color:white;
    font-size:15px;
    margin-bottom:4px;
}

.webinar-content p{
    color:#8c96b2;
    font-size:13px;
}

.webinar a{
    color:#8b5cf6;
    text-decoration:none;
}

.story{
    display:flex;
    gap:14px;
    margin-bottom:20px;
}

.story img{
    width:95px;
    height:70px;
    object-fit:cover;
    border-radius:10px;
}

.story h4{
    color:white;
    margin-bottom:5px;
}

.story p{
    color:#8c96b2;
    font-size:13px;
    margin-bottom:8px;
}

.story a{
    color:#8b5cf6;
    text-decoration:none;
    font-size:14px;
}

.topic-item:hover,
.resource-item:hover,
.story:hover{
    transform:translateX(5px);
    transition:.3s;
}



